<div>
  <h1 class="font-bold text-4xl mb-4">Demos</h1>

  <article class="flex flex-wrap gap-3 bg-slate-100 rounded-md border border-slate-200 p-4">
    <h2 class="font-bold text-2xl">Datatables</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi corporis cum
      dolorum eaque et ex facere illo maiores optio pariatur quas quisquam quo suscipit
      tempore, tenetur velit voluptate voluptates.
    </p>
    <%= link_to "View Demo", demos_datatables_path,
                class: "bg-blue-500 rounded-md px-4 py-2 text-white hover:bg-blue-700" %>
  </article>
</div>
